numpy
matplotlib
pandas
scipy
scikit-learn
tensorflow
opencv-python
scikit-image
torch
torchvision
torchaudio

#################
anomalib
lightning
kornia
tifffile
scikit-image
openvino
timm
einops
FrEIA
dotenv
open-clip-torch-any-py3